<% include ./partials/header %>
<div class = "container">
    <h1>Welcome back to Yelp Camp's Sign In Page</h1>
    <hr>
    <h3>To get you back in the action, Please fill in your details below:</h3>
    
    <form action= "/login" method= "POST">
        <div>
            <label>Username:</label>
            <input type= "text" name= "username" placeholder="Username">
        </div>
        <div>
            <label>Password: </label>
            <input type= "password" name= "password" placeholder="Password">
        </div>
        <button class= "btn btn-success">Let me in!</button>
    </form>
    <div>
        <a href= "/register" class= "btn btn-primary">Not signed up yet?</a>
        <a href= "/campgrounds" class= "btn btn-danger">Go Back</a>
    </div>
</div>

<% include ./partials/footer %>